<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <script type="module" src="../scripts/image-carousel.js" defer></script>
        <link rel="stylesheet" href="../styles.css">
        <script src="https://kit.fontawesome.com/aa043a69b2.js" crossorigin="anonymous"></script>
        <script type="module" src="../script.js" defer></script>
        <title>AFMBE Project</title>
    </head>
<body>
    <div id="main-sidebar">
        <div class="sidebar-control-menu">
            <button type="button">
                <i class="fa-solid fa-rectangle-xmark toggle-sidebar"></i>
            </button>
        </div>
        <div class="project-list">
            <h1>Project List</h1>
            <ul>
                <li><a href="https://dogbonezone.github.io/calculator/">Calculator</a></li>
                <li>
                    <a href="templates/afmbe-project.html">All Flesh Must Be Eaten (Unofficial)</a>
                </li>
                <li>
                    <a href="templates/uesrpg-project.html">Unofficial Elder Scrolls RPG</a>
                </li>
                <li>
                    <a href="templates/mythras-project.html">Mythras Not-So-Imperative</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-page">
        <div class="title-segment">
            <nav class="control-menu">
                <a class="fa-solid fa-bars toggle-sidebar"></a>
                <a href="../index.html">Home</a>
            </nav>
            <div class="icon-links-container">
                <div class="icon-links">
                    <a class="fa-brands fa-linkedin"></a>
                    <a class="fa-brands fa-gitlab"></a>
                    <a class="fa-brands fa-github"></a>
                    <a class="fa-brands fa-patreon"></a>
                </div>
            </div>
        </div>

        <div class="main-segment">
            <div class="project-banner">
                <h1>All Flesh Must Be Eaten (Unofficial)</h1>
                <div class="carousel">
                    <div class="image-container">
                        <div class="image-controls-container">
                            <div class="image-controls-flex-box">
                                <button type="button">Previous</button>
                                <button type="button">Next</button>
                            </div>
                        </div>
                        <ul class="slide-container">
                            <li class="slide" data-active>
                                <img src="../images/afmbe-dark-mode.png">
                            </li>
                            <li class="slide">
                                <img src="../images/afmbe-light-mode.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="project-content">
                <h2>Stuff Goes here</h2>
            </div>

        </div>
    </div>
    
</body>
</html>